<!doctype html>
<html lang="en-US">
    <head>
        <title><%= productName %></title>

        <meta charset="utf-8" />
        <meta name="description" content="<%= productDescription %>" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

        <link rel="icon" type="image/png" sizes="192x192" href="icons/icon-192x192.png" />
        <% if (ctx.mode.pwa) { %>
        <meta name="theme-color" content="#00a79f" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-title" content="HUD Plans" />
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png" />
        <% } %>
        <script src="/env.js"></script>
    </head>
    <body>
        <!-- quasar:entry-point -->
    </body>
</html>
