MIN_COLMAP_IMAGES_KEEP=20

USE_RUNAI=false
RUNAI_REGISTRY=
RUNAI_PVC_SCRATCH_NAME=
RUNAI_REMOTE_SCRATCH_PATH=

USE_SCITAS=true
SCITAS_MOUNT_EXPORT_PATH=/mnt/scitas
SCITAS_REMOTE_EXPORT_PATH=/export/enac-it-poh
SCITAS_REMOTE_SCRATCH_PATH=/scratch/enac-it-poh
SCITAS_REMOTE_IMAGES_PATH=/work/enac-it-poh/apptainer-images
SCITAS_HOST=kuma.hpc.epfl.ch
SCITAS_ACCOUNT=enac-it-poh
SCITAS_SSH_USERNAME=enac-it-poh
SCITAS_SSH_KEY_PATH=~/.ssh/id_ed25519

# Multi-line #SBATCH directives (use \n)
SCITAS_SBATCH_ARGS_COLMAP=
SCITAS_SBATCH_ARGS_BRUSH=
